/*----------------- BODY ------------------*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* fix too small font-size in both Chrome & Firefox */
* {
  font: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #FFF8E5;
  line-height: 150%;
}

p {
	margin: 0;
}

a {
	color: green;
}
/*---------------- BODY END ----------------*/

.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 100px auto;
	background: #fff;
	padding: 20px;
}

.button_openClose {
  position: absolute;
  background: gray;
  color: white;
  width: 100px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  z-index: 4;
  cursor: pointer;
  top: 0;
}

.overlay-box {
	width: 86%;
  display: none;
  left: 50%;
  margin-left: -43%;
  position: absolute;
  background: black;
  color: white;
  z-index: 2;
  padding: 32px;
  top: 0;
	box-shadow: 0px 0px 10px 0px #000;
}


/*----------------- SLIDER ------------------*/

.wrap {
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template: repeat(2, -webkit-max-content) 4em/ 1fr 1fr;
  grid-template: repeat(2, max-content) 4em/ 1fr 1fr;
  overflow: hidden;
  position: relative;
  margin: 1em auto;
  width: 20em;
  /*background: -webkit-gradient(linear, left bottom, left top, color-stop(4em, #ccc), color-stop(0, transparent));
  background: linear-gradient(0deg, #ccc 4em, transparent 0);*/
  background: none;

	/* border: 1px solid; */
}
.wrap::before, .wrap::after {
  grid-column: 1/ span 2;
  grid-row: 3;
  background: #ff0000;
  content: "";

  height: 2px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
}
.wrap::before {
  margin-left: calc(1em + (var(--a) - var(--min))/var(--dif)*18em);
  width: calc((var(--b) - var(--a))/var(--dif)*18em);
}
.wrap::after {
  margin-left: calc(1em + (var(--b) - var(--min))/var(--dif)*18em);
  width: calc((var(--a) - var(--b))/var(--dif)*18em);
}

[id='multi-lbl'] {
  grid-column: 1/span 2;
}

.sr-only {
  position: absolute;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

input[type='range'] {
  grid-column: 1/ span 2;
  grid-row: 3;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  background: none;
  /* get rid of white Chrome background */
  /*--col: #000;*/
  --col: #fff;
  pointer-events: none;
	cursor: pointer;
}
input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb, input[type='range'] {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type='range']::-webkit-slider-thumb {
  border: none;
  /* get rid of Firefox thumb border */
  width: 2em;
  height: 4em;
  border-radius: 0;
  /* get rid of Firefox corner rounding */
  /*background: linear-gradient(90deg, #fff 2px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);*/
  background: linear-gradient(90deg, #000 0px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);
  pointer-events: auto;
}
input[type='range']::-moz-range-thumb {
  border: none;
  /* get rid of Firefox thumb border */
  width: 2em;
  height: 4em;
  border-radius: 0;
  /* get rid of Firefox corner rounding */
  /*background: linear-gradient(90deg, #fff 2px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);*/
  background: linear-gradient(90deg, #000 0px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);
  pointer-events: auto;
}

input[type='range']:focus {
  z-index: 4;
  /*outline: dotted 1px currentcolor;*/
  outline: none;
}
/*input[type='range']:focus, input[type='range']:focus + output {
  --col: darkorange ;
}*/

output {
  grid-row: 2;
  /*color: var(--col);*/
  color: white;
}
output:last-child {
  text-align: right;
}
output::after {
  counter-reset: c var(--c);
  content: "--" attr(for) ": " counter(c) ";";
}

.white-line {
  background: white;
  height: 2px;
  position: absolute;
  z-index: 1;
}


/*--------------- SLIDER END ----------------*/


/*------------------- TAGS ------------------*/
.tags {
	position: relative;
	margin-top: 150px;
}

.tags-buttons {
	background-color: #9D9D9D;
  border: none;
  color: #000;
  padding: 10px;
	margin: 5px;
  text-align: center;
	outline: none;
	cursor: pointer;
	font-weight: 600;
}
/*------------------ TAGS END ----------------*/
